.wrapper {
    display: inline;
    text-indent: 8px;
}

.banner_subtitle {
    color: #fff;
}

.wrapper span {
    animation: animate 5s infinite 0s;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    font-size: 2.5rem;
    font-weight: 600;
    color: #fff;
}

.wrapper span:nth-child(2) {
    animation-delay: 1s;
    color: #fff;

}

.wrapper span:nth-child(3) {
    animation-delay: 2s;
    color: #fff;

}

.wrapper span:nth-child(4) {
    animation-delay: 3s;
    color: #fff;

}

.wrapper span:nth-child(5) {
    animation-delay: 4s;
    color: #fff;

}

@keyframes animate {
    0% {
        opacity: 0;
    }

    25% {
        opacity: 0;
    }

    50% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.region-banner {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}

.banner {
    background-image: url(../img/hero-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    position: relative;
    top: 0;
    z-index: -1;
}

.banner__content {
    text-align: center;
}

.field--name-field-banner {
    color: #ffff;
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;

}